<?xml version='1.0' encoding='UTF-8' ?>

<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/namesTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    <ui:define name="content">
        <h:form id="ManageNameForm">
            <!-- =================== Table ============================ -->
            <p:remoteCommand name="updateViewFilter" action="#{deviceTableController.onUpdateViewFilter}" />
            <p:remoteCommand name="updatePageSize" action="#{deviceTableController.onPaginatePageSize}" />
            <p:dataTable 
                id="devicesTree" 
                var="record"
                value="#{deviceTableController.records}"
                selection="#{deviceTableController.selectedRecords}"
                selectionMode="multiple" 
                paginator="true" 
                rows="#{deviceTableController.rows}"
                paginatorAlwaysVisible="true"
                paginatorPosition = "bottom"
                rowsPerPageTemplate="10,20,30,40,50"
                rowKey = "#{treeNodeManager.key(record.device).toString()}"
                first="#{deviceTableController.rowNumber}" resizableColumns="true"
                filteredValue="#{deviceTableController.filteredRecords}"
                emptyMessage="No records found." 
                widgetVar="deviceTable"
                >
                <f:facet id="filterTable" name="header">
                    <p:selectCheckboxMenu 
                        id="viewbutton" 
                        label="View"
                        value="#{deviceTableController.viewFilter.selectedOptions}"
                        style="float:left"
                        showHeader="false"
                        >
                        <f:selectItems
                            value="#{deviceTableController.viewFilter.options}" />
                        <p:ajax 
                            process="@this"
                            listener="#{deviceTableController.update()}"
                            update="devicesTree @form"
                            oncomplete="updateViewFilter(); PF('deviceTable').filter();"
                            />
                    </p:selectCheckboxMenu>
                    <p:commandButton 
                        id="filter" 
                        value="Filter"
                        icon="fa fa-aw fa-filter" 
                        style="float:left" 
                        title="Set Customized Filter"
                        update=":FilterDeviceNameForm"
                        action="#{deviceTableController.prepareFilter()}"
                        oncomplete="PF('filterDeviceName').show()"
                        disabled="#{!(deviceTableController.canFilter())}" 
                        />
                    <!--                            <p:column>
                                                    <p:commandButton id="refresh" value="Refresh"
                                                                     icon="ui-icon-refresh" style="float:left" title ="Reload names from database" 
                                                                     process ="@form"                                
                                                                     update=":ManageNameForm :ManageNameForm:devicesTree:ncReqMenu @form"
                                                                     onclick=" start()"
                                                                     action="#{deviceTableController.reload()}"
                                                                     oncomplete=" stop(); PF('deviceTable').filter()"								
                                                                     />
                                                </p:column>-->
                    <p:menuButton id="ncReqMenu" value="Actions" icon="fa fa-aw fa-cog" style="float: right">
                        <p:menuitem 
                            value="Add" icon="fa fa-aw fa-plus-square"
                            update=":DeviceWizardNameForm"
                            oncomplete="PF('deviceWizardName').show()"
                            title="Add Device Name"
                            actionListener="#{deviceTableController.prepareOperationDialog('add')}"
                            disabled="#{!(deviceTableController.can('add'))}"
                            rendered="#{deviceTableController.rendered('add')}" 
                            />
                        <p:menuitem 
                            value="Modify" icon="fa fa-aw fa-edit"
                            update=":DeviceWizardNameForm"
                            oncomplete="PF('deviceWizardName').show()"
                            actionListener="#{deviceTableController.prepareOperationDialog('modify')}"
                            title="Modify Device Name" 
                            rendered="#{deviceTableController.rendered('add')}" 
                            disabled="${!(deviceTableController.can('modify'))}" 
                            />
                        <p:menuitem 
                            value="Delete" 
                            icon="fa fa-aw fa-trash"
                            update=":delDeviceNameForm"
                            oncomplete="PF('delDeviceName').show()"
                            actionListener="#{deviceTableController.prepareOperationDialog('delete')}"
                            title="Delete Device Name" 
                            rendered="#{deviceTableController.rendered('delete')}" 
                            disabled="${!(deviceTableController.can('delete'))}" 
                            />
                        <p:menuitem 
                            value="Configure" 
                            title="Configure device in CCDB"
                            icon="fa fa-aw fa-external-link-square" 
                            url="${deviceTableController.ccdbUrl}"
                            target="blank"
                            disabled="${!deviceTableController.canConfigure()}" 
                            />
                        <p:menuitem 
                            value="History" 
                            icon="fa fa-aw fa-search"
                            actionListener="#{deviceTableController.prepareHistoryPopup()}"
                            update=":ManageNameForm:historyTable" 
                            title="View History"
                            oncomplete="PF('nameDetail').show()"
                            disabled="${!(deviceTableController.canShowHistory())}" 
                            />
                        <p:menuitem 
                            value="Batch Add" 
                            icon="fa fa-aw fa-upload"
                            title="Import new devices from an excel spread sheet"
                            actionListener="#{deviceTableController.prepareImportPopup('add')}"
                            update=":batchImportForm" 
                            oncomplete="PF('batchImport').show()"
                            rendered="#{deviceTableController.rendered('add')}" 
                            />
                        <p:menuitem 
                            value="Batch Modify" 
                            icon="fa fa-aw fa-upload"
                            title="Modify devices from an excel spread sheet"
                            actionListener="#{deviceTableController.prepareImportPopup('modify')}"
                            update=":batchImportForm" 
                            oncomplete="PF('batchImport').show()"
                            rendered="#{deviceTableController.rendered('modify')}" 
                            />
                        <p:menuitem 
                            value="Export" 
                            ajax="false" 
                            icon="fa fa-aw fa-download"
                            immediate="true"
                            onclick="PrimeFaces.monitorDownload(start, stop)"
                            >
                            <p:fileDownload value="#{deviceTableController.allDataExport}" />
                        </p:menuitem>
                    </p:menuButton>
                    <p:commandButton 
                        id="toggler" 
                        type="button"
                        style="float: left"
                        value="Columns"
                        icon="fa fa-aw fa-table"
                        />
                    <p:columnToggler datasource="devicesTree" trigger="toggler">
                        <p:ajax event="toggle" listener="#{deviceTableController.onToggle}" update="ncReqMenu" />
                    </p:columnToggler>
                </f:facet>

                <p:ajax event="page" listener="#{deviceTableController.onPaginate}" update="ncReqMenu" oncomplete="updatePageSize()" />
                <p:ajax event="rowSelect" update="ncReqMenu" />
                <p:ajax event="rowUnselect" update="ncReqMenu" />
                <p:ajax event="filter" delay="1000"  
                        onstart="start();"
                        oncomplete="stop();" />
                <ui:include
                    src="/WEB-INF/includes/devices-datatable-partcolumn.xhtml">
                    <ui:param name="part" value="superSection" />
                    <ui:param name="element" value="combined" />
                    <ui:param name="title" value="#{namingConventionDefinition[part].fullName}"/>
                    <ui:param name="tooltipElement" value="description" />
                    <ui:param name="visible" value="#{deviceTableController.isColumnVisible(0)}" />
                </ui:include>
                <ui:include
                    src="/WEB-INF/includes/devices-datatable-partcolumn.xhtml">
                    <ui:param name="part" value="section" />
                    <ui:param name="element" value="mnemonic" />
                    <ui:param name="title" value="#{namingConventionDefinition[part].fullName}"/>
                    <ui:param name="tooltipElement" value="fullName" />
                    <ui:param name="visible" value="#{deviceTableController.isColumnVisible(1)}" />
                </ui:include>
                <ui:include
                    src="/WEB-INF/includes/devices-datatable-partcolumn.xhtml">
                    <ui:param name="part" value="subsection" />
                    <ui:param name="element" value="mnemonic" />
                    <ui:param name="title" value="#{namingConventionDefinition[part].fullName}"/>
                    <ui:param name="tooltipElement" value="fullName" />
                    <ui:param name="visible" value="#{deviceTableController.isColumnVisible(2)}" />
                </ui:include>
                <ui:include
                    src="/WEB-INF/includes/devices-datatable-partcolumn.xhtml">
                    <ui:param name="part" value="discipline" />
                    <ui:param name="element" value="mnemonic" />
                    <ui:param name="title" value="#{namingConventionDefinition[part].fullName}"/>
                    <ui:param name="tooltipElement" value="fullName" />
                    <ui:param name="visible" value="#{deviceTableController.isColumnVisible(3)}" />
                </ui:include>
                <ui:include
                    src="/WEB-INF/includes/devices-datatable-partcolumn.xhtml">
                    <ui:param name="part" value="deviceGroup" />
                    <ui:param name="element" value="combined" />
                    <ui:param name="title" value="#{namingConventionDefinition[part].fullName}"/>
                    <ui:param name="tooltipElement" value="description" />
                    <ui:param name="visible" value="#{deviceTableController.isColumnVisible(4)}" />
                </ui:include>
                <ui:include
                    src="/WEB-INF/includes/devices-datatable-partcolumn.xhtml">
                    <ui:param name="part" value="deviceType" />
                    <ui:param name="element" value="mnemonic" />
                    <ui:param name="title" value="#{namingConventionDefinition[part].fullName}"/>
                    <ui:param name="tooltipElement" value="fullName" />
                    <ui:param name="visible" value="#{deviceTableController.isColumnVisible(5)}" />
                </ui:include>
                <ui:include
                    src="/WEB-INF/includes/devices-datatable-partcolumn-deviceName.xhtml">
                    <ui:param name="part" value="device" />
                    <ui:param name="element" value="fullName" />
                    <ui:param name="title" value="#{namingConventionDefinition[part].fullName}"/>
                    <ui:param name="tooltipElement" value="description" />
                    <ui:param name="visible" value="#{deviceTableController.isColumnVisible(6)}" />
                </ui:include>
                <ui:include
                    src="/WEB-INF/includes/devices-datatable-partcolumn.xhtml">
                    <ui:param name="part" value="device" />
                    <ui:param name="element" value="description" />
                    <ui:param name="title" value="Description"/>
                    <ui:param name="tooltipElement" value="description" />
                    <ui:param name="visible" value="#{deviceTableController.isColumnVisible(7)}" />
                </ui:include>

            </p:dataTable>
            <!-- 		======================== History ============================-->
            <ui:include src="/WEB-INF/includes/history.xhtml">
                <ui:param name="historyHandler"
                          value="#{deviceTableController.historyRevisionsAsRowData}" />
            </ui:include>
        </h:form>
        <!-- 		======================== Filter form ============================-->
        <ui:include src="/WEB-INF/includes/filterWizard.xhtml">
            <ui:param name="widgetId" value="filterDeviceName" />
            <ui:param name="filterWizard"
                      value="#{deviceTableController.filterWizard}" />
        </ui:include>
        <!-- 		======================== Device Wizard form ============================-->
        <ui:include src="/WEB-INF/includes/devices-wizard.xhtml"/>
        <!-- ===================Multiple selection Form================================= -->
        <ui:include src="/WEB-INF/includes/operationtreeform.xhtml">
            <ui:param 
                name="formId" 
                value="delDeviceNameForm" 
                />
            <ui:param 
                name="controller" 
                value="#{deviceTableController}" 
                />
            <ui:param 
                name="widgetId" 
                value="delDeviceName" 
                />
            <ui:param 
                name="update"
                value=":ManageNameForm:devicesTree :ManageNameForm:devicesTree:ncReqMenu @form :menu:messages" 
                />
            <ui:param
                name ="complete"
                value="stop(); PF('deviceTable').filter()"
                />
        </ui:include>
        <!-- 		============================ import form =====================-->
        <h:form id="batchImportForm">
            <p:dialog id="batchImport" widgetVar="batchImport" modal="true"
                      resizable="false" width="800">
                <f:facet name="header">
                    <h:outputText  value ="#{deviceTableController.importModify ? 'Batch Modify Devices' : 'Batch Add Devices' }" />
                </f:facet>
                <h:panelGroup id="batchImportId">
                    <div>
                        <p:fileUpload
                            fileUploadListener="#{deviceTableController.handleFileUpload}"
                            mode="advanced" 
                            label="Select import file from disc"
                            auto="true" 
                            fileLimit="1"
                            dragDropSupport="true" 
                            allowTypes="/(\.|\/)(xlsx)$/"
                            update ="batchImportId"
                            rendered="#{devicesTableController.importFileName == null}" />
                        <h:outputText value="#{deviceTableController.importFileName}" />
                    </div>
                    <div>
                        <p:separator />
                        <p:commandButton 
                            value="Download template" 
                            style="float: left" 
                            ajax="false" 
                            icon="fa fa-aw fa-download"
                            onclick="PrimeFaces.monitorDownload(start, stop)"
                            disabled="#{deviceTableController.importFileName != null}"
                            >
                            <p:fileDownload value="#{deviceTableController.downloadableNamesTemplate}" />
                        </p:commandButton>

                        <p:commandButton 
                            value="Cancel" 
                            style="float: right"
                            onclick="PF('batchImport').hide();" 
                            />
                        <p:commandButton 
                            value="Import" 
                            style="float: right"
                            update=":menu :ManageNameForm :ManageNameForm:devicesTree:ncReqMenu"
                            oncomplete=" #{deviceTableController.update()}; PF('batchImport').hide(); PF('deviceTable').filter()"
                            action="#{deviceTableController.onImport()}"
                            disabled="#{deviceTableController.importFileName == null}" 
                            />
                    </div>
                </h:panelGroup>
            </p:dialog>
        </h:form>
    </ui:define>
</ui:composition>
