<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/namesTemplate.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui" >

    <ui:define name="content" >
        <h:form id="index">
            <div class="ui-treetable-scrollable-body" id="indexDiv">
                <div class="textScreen">
                    <h2>Format</h2>
                    <p:panel header="Functional Area Name">
                        <sec>Sec-Sub</sec>
                    </p:panel>
                    <p:panel header="Device Definition">
                        <dev>Dis-Dev</dev>
                    </p:panel>
                    <p:panel header="Device Name">
                        <sec>Sec-Sub</sec>
                        <kbd>:</kbd>
                        <dev>Dis-Dev-Idx</dev>
                    </p:panel>

                    <p:panel header="Process Variable Name">
                        <kbd style="color: #006699">Sec-Sub</kbd>
                        <kbd>:</kbd>
                        <dev>Dis-Dev-Idx</dev>
                        <kbd>:</kbd>
                        <kbd style="color: #CC6600">Property</kbd>
                        <kbd>.</kbd>
                        <kbd style="color: grey">FIELD</kbd>
                        <p>(PV names are not implemented in the Naming Service)</p>
                    </p:panel>

                    <h2> Name Elements </h2>

                    <p:panelGrid>
                        <f:facet name="header">
                            <p:row>
                                <p:column> Mnemonic</p:column>
                                <p:column> Full Name</p:column>
                                <p:column> Description</p:column>
                            </p:row>
                        </f:facet>

                        <p:row>
                            <p:column colspan="3">
                                <strong> Area Structure</strong>
                            </p:column>
                        </p:row>

                        <p:row>
                            <p:column>
                            </p:column>
                            <p:column>Super Section</p:column>
                            <p:column>High level area of the facility restricted to a particular use. Used for filtering and sorting purposes only. Not part of the convention names</p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <sec> Sec </sec>
                            </p:column>
                            <p:column>Section</p:column>
                            <p:column>Level 2 of Area Structure</p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <sec> Sub </sec>
                            </p:column>
                            <p:column>Subsection</p:column>
                            <p:column>Level 3 of Area Structure</p:column>
                        </p:row>

                        <p:row>
                            <p:column colspan="3">
                                <strong> Device Structure</strong>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <dev> Dis </dev>
                            </p:column>
                            <p:column>Discipline </p:column>
                            <p:column>Branch of knowledge indicating the context in which a device is used</p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <kbd></kbd>
                            </p:column>
                            <p:column>Device Group</p:column>
                            <p:column>Introdued to allow certain device types to be grouped together in lists. Not part of the convention names. Default is Miscellaneous</p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <dev> Dev </dev>
                            </p:column>
                            <p:column>Generic Device type</p:column>
                            <p:column>Two devices of the same generic device type provide the same function</p:column>
                        </p:row>

                        <p:row>
                            <p:column colspan="3">
                                <strong> Instance Index</strong>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <dev> Idx </dev>
                            </p:column>
                            <p:column>Instance index</p:column>
                            <p:column>To distinguish devices of the same type in the same area</p:column>
                        </p:row>

                        <p:row>
                            <p:column colspan="3">
                                <strong> Configuration Structure</strong> (not implemented by the naming service)
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <kbd> SDev </kbd>
                            </p:column>
                            <p:column>Specific Device Type </p:column>
                            <p:column>Two devices of the same specific device type are identical from a controls perspective and among others have the same set of control signals. Not displayed in names. </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <kbd style="color: #CC6600"> Property </kbd>
                            </p:column>
                            <p:column>Observable Property</p:column>
                            <p:column>E.g. Current, Time or Temperature</p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <kbd style="color: grey"> FIELD </kbd>
                            </p:column>
                            <p:column>EPICS Field</p:column>
                            <p:column>Predefined for the record type. Example: value (VAL), units (EGU), alarmlimits (HIGH, LOW etc).  </p:column>
                        </p:row>

                    </p:panelGrid>

                    <h2 class="heading">Validation</h2>

                    <p:panel header="Device registry"> 
                        Device names are validated against the following set of rules
                        in the device registry:
                        <ol>
                            <li>Instance index (<dev>Idx</dev>)
                            shall be alphanumeric. I.e., only upper and lower case
                            alphanumeric characters (a-z, A-Z, 0-9) are allowed.
                            </li>
                            <li>The device names <kbd style="color: #006699">Sec-Sub</kbd>
                                <kbd>:</kbd>
                            <dev>Dis-Dev-Idx</dev> shall be
                            distinguishable, which means that names shall be unique
                            irrespective of
                            <ul>
                                <li>Letter case</li>
                                <li>Letters I, l and number 1</li>
                                <li>Letter O and number 0</li>
                                <li>Leading zeros, i.e., number 0 immediately following a
                                    non-numerical character</li>
                            </ul>
                            </li>
                            <li>The maximum length of instance index (<dev>Idx</dev>) is 6 characters.
                            </li>
                        </ol>
                    </p:panel>


                    <p:panel header="Area Structure">

                        Proposed name elements in the area structures are
                        validated against the following set of rules:
                        <ol>
                            <li>Names elements for any of the items in the area
                                structure shall be alphanumeric. I.e., only upper and lower case
                                alphanumeric characters (a-z, A-Z, 0-9) are allowed.</li>
                            <li>Name elements for super section (<kbd>Sup</kbd>) and section
                                (<sec>Sec</sec>) shall be globally
                                distinguishable.
                            </li>
                            <li>Name elements for subsection <sec>Sub</sec>
                                shall be distinguishable under the same parent section.
                            </li>
                            <li>Names elements for any of the items in the area structure shall 
                                have 1 to 6 characters. </li>
                        </ol>
                    </p:panel>


                    <p:panel header="Device Structure">				
                        Proposed name elements in the Device structure are
                        validated against the following set of rules:
                        <ol>
                            <li>Names elements for any of the items in the device
                                structure shall be alphanumeric. I.e., only upper and lower case
                                alphanumeric characters (a-z, A-Z, 0-9) are allowed.</li>
                            <li>Name elements for discipline(<dev>Dis</dev>) shall be globally
                                distinguishable.
                            </li>
                            <li>Name elements for device type (<dev>Dev</dev>) shall be
                            distinguishable under the same discipline.
                            </li>
                            <li>Names elements for any of the items in the device structure shall 
                                have 1 to 6 characters. </li>
                        </ol>
                    </p:panel>

                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>