<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/WEB-INF/namesTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    <ui:define name="content">
        <!-- =========================== Req Sub Form ================================= -->
        <h:form id="ReqSubForm">
            <!-- =================== Tree Table ================================= -->
            <p:remoteCommand name="updateViewFilter" action="#{namePartsController.onUpdateViewFilter}" />
            <ui:param name="treeId" value="namePartsTree" />
            <ui:param name="view" value="#{namePartsController.viewRoot}" />
            <ui:param name="selectionMode" value="multiple" />
            <ui:param name="update" value="reqMenu" />
            <p:treeTable 
                id="#{treeId}" 
                value="#{view}" var="nameView"
                selection="#{namePartsController.selectedNodes}"
                selectionMode="#{selectionMode}"
                scrollable="true" 
                scrollWidth="auto"
                resizableColumns="true"
                liveResize="true">
                <f:facet name="header">
                    <p:selectCheckboxMenu 
                        id="viewbutton" 
                        label="View"
                        showHeader="false"
                        value="#{namePartsController.viewFilter.selectedOptions}"
                        style="float:left">
                        <f:selectItems value="#{namePartsController.viewFilter.options}" />
                        <p:ajax 
                            process="@this"
                            listener="#{namePartsController.update()}"
                            update="namePartsTree @form"
                            oncomplete="updateViewFilter(); resizePanel();"/>
                    </p:selectCheckboxMenu>
                    <p:commandButton 
                        value="Collapse" 
                        id="collapse"
                        action="#{namePartsController.onCollapseAll()}"
                        update="namePartsTree"
                        style="float:left"
                        oncomplete="resizePanel()" />
                    <p:commandButton 
                        value="Expand" 
                        id="expand"
                        action="#{namePartsController.onExpandAll()}"
                        update="namePartsTree" 
                        oncomplete="resizePanel()" 
                        style="float:left"/>
                    <p:menuButton 
                        icon="fa fa-aw fa-cog"
                        value="Actions" 
                        id="reqMenu"
                        style="float:right">
                        <p:menuitem
                            value="Add"
                            actionListener="#{namePartsController.prepareOperationDialog('add')}"
                            title="Propose to add a name" icon="fa fa-aw fa-plus-square"
                            oncomplete="PF('wizardName').show()"
                            update=":WizardNameForm"
                            disabled="#{!(namePartsController.can('add'))}"
                            rendered="#{namePartsController.rendered('add')}" />
                        <p:menuitem
                            value="Modify"
                            actionListener="#{namePartsController.prepareOperationDialog('modify')}"
                            title="Propose to modify a name" 
                            icon="fa fa-aw fa-edit"
                            update=":WizardNameForm"
                            oncomplete="PF('wizardName').show()"
                            disabled="#{!(namePartsController.can('modify'))}"
                            rendered="#{namePartsController.rendered('modify')}"/>
                        <p:menuitem
                            value="Delete"
                            actionListener="#{namePartsController.prepareOperationDialog('delete')}"
                            title="Propose to delete names" 
                            icon="fa fa-aw fa-trash"
                            update=":MultNameForm:multName"
                            oncomplete="PF('multName').show()"
                            disabled="#{!(namePartsController.can('delete'))}"
                            rendered="#{namePartsController.rendered('delete')}" />
                        <p:menuitem
                            value="Approve"
                            actionListener="#{namePartsController.prepareOperationDialog('approve')}"
                            title="Approve Requests" 
                            icon="fa fa-aw fa-check"
                            update=":MultNameForm" 
                            oncomplete="PF('multName').show()"
                            disabled="#{!(namePartsController.can('approve'))}"
                            rendered="#{namePartsController.rendered('approve')}" />
                        <p:menuitem 
                            value="Reject"
                            actionListener="#{namePartsController.prepareOperationDialog('reject')}"
                            title="Reject requests" 
                            icon="fa fa-aw fa-ban"
                            update=":MultNameForm"
                            oncomplete="PF('multName').show()"
                            disabled="#{!(namePartsController.can('reject'))}"
                            rendered="#{namePartsController.rendered('reject')}" />
                        <p:menuitem 
                            value="Cancel"
                            actionListener="#{namePartsController.prepareOperationDialog('cancel')}"
                            title="Cancel requests" 
                            icon="fa fa-aw fa-close"
                            update=":MultNameForm:multName"
                            oncomplete="PF('multName').show()"
                            disabled="#{!(namePartsController.can('cancel'))}"
                            rendered="#{namePartsController.rendered('cancel')}" />
                        <p:menuitem
                            value="Check Devices"
                            actionListener="#{namePartsController.prepareOperationDialog('checkDevices')}"
                            title="check and fix device names" 
                            icon="fa fa-aw fa-gear"
                            update=":MultNameForm" oncomplete="PF('multName').show()"
                            disabled="#{!(namePartsController.can('checkDevices'))}"
                            rendered="#{namePartsController.rendered('checkDevices')}" />
                        <p:menuitem 
                            value="View History" title="View History"
                            icon="fa fa-aw fa-search"
                            actionListener="#{namePartsController.prepareHistoryPopup()}"
                            update=":ReqSubForm:historyTable"
                            oncomplete="PF('nameDetail').show()"
                            disabled="#{!(namePartsController.canShowHistory())}" />
                    </p:menuButton>
                </f:facet>
                <p:ajax event="select" update="#{update}" />
                <p:ajax event="unselect" update="#{update}" />
                <p:ajax event="expand" listener="#{treeNodeManager.onNodeExpand}" />
                <p:ajax event="collapse" listener="#{treeNodeManager.onNodeCollapse}" />
                <ui:param name="row" value="#{treeNodeManager.rowData(nameView)}"/>
                <p:column id="fullName" headerText="Full Name" style="width:30%">
                    <ui:include src="/WEB-INF/includes/rowColumn.xhtml">
                        <ui:param name="columnData" value="#{row.fullName}" />
                        <ui:param name="columnDataTitle" value="#{row.fullName}" />
                    </ui:include>
                </p:column>
                <p:column id="mnemonic" headerText="Mnemonic" style="width:10%">
                    <ui:include src="/WEB-INF/includes/rowColumn.xhtml">
                        <ui:param name="columnData" value="#{row.mnemonic}" />
                        <ui:param name="columnDataTitle" value="#{row.mnemonic}" />
                    </ui:include>
                </p:column>
                <p:column id="description" headerText="Description" style="width:50%">
                    <ui:include src="/WEB-INF/includes/rowColumn.xhtml">
                        <ui:param name="columnData" value="#{row.description}" />
                        <ui:param name="columnDataTitle" value="#{row.description}" />
                    </ui:include>		
                </p:column>

                <p:column id="status" headerText="Status" style="width: 10%">
                    <h:outputText value="#{row.getStatus()}" styleClass="#{row.getStatusStyle()}"/>
                    <!-- 			<h:outputLink id="pendingComment" value="#" -->
                    <!-- 				rendered="#{namePartsController.hasPendingComment(nameView)}"> -->
                    <!-- 				<h:outputText styleClass="ui-icon ui-icon-info" -->
                    <!-- 					style="display:inline-block; margin-left:10px !important; vertical-align:bottom !important;" /> -->
                    <!-- 			</h:outputLink> -->
                    <!-- 			<p:tooltip for="pendingComment"> -->
                    <!-- 				<h:outputText -->
                    <!-- 					value="#{namePartsController.getPendingComment(nameView)}" -->
                    <!-- 					style="white-space: pre;" escape="false" /> -->
                    <!-- 			</p:tooltip> -->
                </p:column>
            </p:treeTable>                
            <!-- =================== History ================================= -->
            <ui:include src="/WEB-INF/includes/history.xhtml">
                <ui:param name="historyHandler"
                          value="#{namePartsController.historyRevisionsAsRowData}" />
            </ui:include>
        </h:form>
        <!-- ===================Wizard=================================== -->
        <ui:include src="/WEB-INF/includes/parts-wizard.xhtml">
        </ui:include>
        <!-- ===================Multiple selection Form================================= -->
        <ui:include src="/WEB-INF/includes/operationtreeform.xhtml">
            <ui:param name="formId" value="MultNameForm" />
            <ui:param name="controller" value = "#{namePartsController}"/>
            <ui:param name="widgetId" value="multName" />
            <ui:param name="update" value =":ReqSubForm:namePartsTree:reqMenu :ReqSubForm:namePartsTree @form :menu:messages"/> 
            <ui:param name ="complete" value="stop()"/>
        </ui:include>
    </ui:define>
</ui:composition>
