<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

	<ui:param name="nameView" value="#{record[part]}"/>
	<ui:param name="row" value="#{treeNodeManager.rowData(nameView)}" />
	<ui:param name="name" value="#{row[element]}"/>
	<ui:param name="tooltip" value="#{row[tooltipElement]}"/>
	<ui:param name="sortBy" value="#{name.toString()}"/>
	<p:column headerText="#{title}" sortBy="#{sortBy}" filterBy="#{sortBy}" filterMatchMode="contains" visible="#{visible}">
		<ui:include src="/WEB-INF/includes/rowColumn.xhtml">
			<ui:param name="columnData" value="#{name}" />
			<ui:param name="columnDataTitle" value ="#{tooltip}" />
		</ui:include>
                  
            <p:link  target="_blank" 
                    href="#{treeNodeManager.chessURL}#{name}" title="Open in Chess" includeViewParams = "true">
                <h:outputText value="#{name}" 
                    style="display:inline-block; vertical-align:bottom !important; margin-left: 1ex;"
                    styleClass="ui-icon ui-icon-extlink"/>
            </p:link>
	</p:column>

</ui:composition>
