<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:fc="http://java.sun.com/jsf/composite/comps"
                xmlns:h="http://java.sun.com/jsf/html">

    <h:form id="#{formId}">
        <ui:param name="operation" value="#{controller.nameOperation}"/>
        <p:dialog id="#{widgetId}" widgetVar="#{widgetId}"
                  header="Review and submit #{operation.title}" dynamic="true" modal="true" width="800">
            <p:treeTable id="operationTreeTable"
                         value="#{treeNodeManager.getOperationTree(operation)}" var="nameView"
                         resizableColumns="true" scrollable="true" scrollHeight="200">
                <ui:param name="row" value="#{treeNodeManager.getOperatedRowData(operation,nameView)}" />
                <p:column id="fullName" headerText="Full Name" style="width:30%">
                    <ui:include src="/WEB-INF/includes/rowColumn.xhtml">
                        <ui:param name="columnData" value="#{row.fullName}" />
                        <ui:param name="columnDataTitle" value="#{row.fullName}" />
                    </ui:include>
                </p:column>
                <p:column id="mnemonic" headerText="Mnemonic" style="width:10%">
                    <ui:include src="/WEB-INF/includes/rowColumn.xhtml">
                        <ui:param name="columnData" value="#{row.mnemonic}" />
                        <ui:param name="columnDataTitle" value="#{row.mnemonic}" />
                    </ui:include>
                </p:column>
                <p:column id="description" headerText="Description"
                          style="width:50%">
                    <ui:include src="/WEB-INF/includes/rowColumn.xhtml">
                        <ui:param name="columnData" value="#{row.description}" />
                        <ui:param name="columnDataTitle" value="#{row.description}" />
                    </ui:include>
                </p:column>
                <p:column headerText="New Status" style="width:10%">
                    <h:outputText value="#{row.getStatus()}"
                                  styleClass="#{row.getStatusStyle()}" />
                </p:column>
            </p:treeTable>
            <h:panelGrid id="pgrid" style="width:100%;text-align: left">
                <p:outputLabel for="comm" value="#{'Commit Message:'}" />
                <h:panelGroup>
                    <p:focus context="comm" />
                    <p:inputTextarea id="comm" counter="counter" maxlength="254"
                                     value="#{operation.message}"
                                     counterTemplate="{0} characters remaining." autoResize="false"
                                     required="#{operation.messageRequired}"
                                     requiredMessage="Please enter a message.">
                        <p:ajax event="keyup" update="btn mess" />
                    </p:inputTextarea>
                    <br />
                    <p:messages id="mess" for="comm" autoUpdate="true" />
                    <h:outputText id="counter" />
                </h:panelGroup>
                <h:panelGroup styleClass="ui-message-warn ui-corner-all"
                              layout="block"
                              rendered="#{operation.affectedDevices.size() > 0}">
                    <span class="ui-message-warn-icon" />
                    <h:panelGroup class="ui-message-warn-detail">
                        <h:outputText
                            rendered="#{operation.affectedDevices.size() > 1}"
                            value="WARNING!: There are #{operation.affectedDevices.size()} registered device names that are affected by this action!" />
                        <h:outputText
                            rendered="#{operation.affectedDevices.size() == 1}"
                            value="WARNING!: There is one registered device name that is affected by this action!" />
                    </h:panelGroup>
                </h:panelGroup>
                <p:separator />
                <f:facet name="footer">
                    <p:commandButton 
                        id="btn" 
                        value="Submit" 
                        style="float: right"
                        process="@form"
                        update="#{update}"
                        action="#{controller.onSubmit()}"
                        disabled="#{!controller.canSubmit()}"
                        onclick="start()" 
                        oncomplete= "#{complete}" 
                        />
                    <p:commandButton 
                        value="Cancel" 
                        style="float: right"
                        onclick="PF(#{widgetId}).hide()" />
                </f:facet>
            </h:panelGrid>
        </p:dialog>
    </h:form>
</ui:composition>