<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

	<h:outputText value="#{columnData.pending}" styleClass="#{columnData.pendingStyle}" title = "#{columnDataTitle.pending}"/>
	<h:outputText value="#{columnData.pendingSeparator}" />
	<h:outputText value="#{columnData.approved}" styleClass="#{columnData.approvedStyle}" title = "#{columnDataTitle.approved}"  />
	<h:outputText value="#{columnData.cancelledSeparator}" />
	<h:outputText value="#{columnData.cancelled}" styleClass="#{columnData.cancelledStyle}" title = "#{columnDataTitle.cancelled}" />
</ui:composition>